
.bai7{
    width: 50%;
    padding: 30px;
    border: 2px solid;
    margin-bottom: 50px;
}

.bai8{
    width: 50%;
    padding: 30px;
    border: 2px solid;
    margin-bottom: 50px;
}

.bai9{
    width: 50%;
    padding: 30px;
    border: 2px solid;
    margin-bottom: 50px;
}

.bai10{
    width: 50%;
    padding: 30px;
    border: 2px solid;
    margin-bottom: 50px;
}